<span class="play-btn play-btn-for-skin-default" style="width: 10px; height: 14px; bottom: 10px;">
<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="10.455px" height="12.352px" viewBox="0 0 10.455 12.352" enable-background="new 0 0 10.455 12.352" xml:space="preserve">
<g>
	<path fill="#D2D6DB" d="M9.93,5.973c0.468,0.29,0.457,0.748-0.023,1.016l-8.709,4.874c-0.48,0.269-0.873,0.038-0.873-0.512V1
		c0-0.55,0.382-0.762,0.849-0.472L9.93,5.973z"/>
</g>
</svg>

</span>
        <span class="preview-img" style="background-image: url(img/preview_play_default.png);">
        </span>