<span class="scrubbar scrubbar-for-skin-default" style="position: absolute; height: 14px; left: 36px; margin-right: 10px; bottom: 8px; width: 300px; " data-design_set_width_to_fit="on">
                                <span class="scrubbar-bg" style="position: absolute; width: 100%; left:0; top: 4px; height: 6px; "></span>
                                <span class="scrubbar-buffered" style="position: absolute; width: 0%; left:0; top: 4px; height: 6px; "></span>
                                <span class="scrubbar-prog" style="position: absolute; width: 0%; left:0; top: 4px; height: 6px; "></span>
                                <span class="scrubbar-box" style=""></span>
                                <span class="scrubbar-box-prog" style=""></span>
                            </span>
<span class="preview-img" style="background-image: url(img/preview_scrubbar_default.png);">
        </span>