<a href="{{jsreplace_arg_downloadlink}}" data-absolute_right_calculate="on" class="download-btn download-btn-for-skin-default" style="width: 14px; height: 14px; position:absolute; right: 45px; margin-right: 7px; bottom:10px;">
                            <span class="download-btn--icon">
<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="10.031px" height="9.955px" viewBox="0 0 10.031 9.955" enable-background="new 0 0 10.031 9.955" xml:space="preserve">
<rect x="4.723" y="4.516" transform="matrix(-0.7072 -0.707 0.707 -0.7072 5.0959 16.188)" fill="#D2D6DB" width="2.353" height="5.045"/>
<rect x="1.473" y="5.862" transform="matrix(-0.7073 -0.7069 0.7069 -0.7073 1.8471 14.8424)" fill="#D2D6DB" width="5.046" height="2.354"/>
<rect x="3.734" y="0.217" fill="#D2D6DB" width="2.354" height="7.944"/>
</svg>


</span>

                                <span class="download-btn--sidenote">
                                    You can have a link here. For example to download the video.
                                </span>
</a>
<span class="preview-img" style="background-image: url(img/preview_download_default.png);">
        </span>