<span data-absolute_right_calculate="on" class="vol-btn vol-btn-for-skin-default" style="width: 45px; height: 14px; position:absolute; right: 45px; margin-right: 10px; bottom:10px;">
                            <span class="vol-btn--icon">
<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="7.375px" height="9.906px" viewBox="0 0 7.375 9.906" enable-background="new 0 0 7.375 9.906" xml:space="preserve">
<polygon fill="#D2D6DB" points="7.375,9.906 3.469,7.797 3.469,2.109 7.375,0 "/>
<polygon fill="#D2D6DB" points="3.719,7.797 0,7.797 0,2.156 3.719,2.109 "/>
</svg>


</span>
                                <span class="vol-bar-con" style="width: 27px; height: 6px; position:absolute; right: 0; top:6px;">
                                    <span class="vol-bar-bg" style=""></span>
                                    <span class="vol-bar-active" style="width: 100%;"></span>
                                </span>
                            </span>
<span class="preview-img" style="background-image: url(img/preview_volume_default.png);">
        </span>