<span data-absolute_right_calculate="on" class="social-btn social-btn-for-skin-default" style="width: 14px; height: 14px; position:absolute; right: 45px; margin-right: 7px; bottom:10px;">
                            <span class="social-btn--icon">
<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="10.031px" height="9.955px" viewBox="0 0 10.031 9.955" enable-background="new 0 0 10.031 9.955" xml:space="preserve">
<g>
	<path fill="#D2D6DB" d="M9.389,2.791L7.238,0.63C6.836,0.224,6.131,0.22,5.721,0.627C5.613,0.732,5.531,0.861,5.495,0.965
		c-0.35,0.732-0.728,1.19-1.211,1.465L4.167,2.487c-0.521,0.26-1.228,0.526-2.536,0.526c-0.143,0-0.28,0.028-0.412,0.082
		C0.96,3.203,0.748,3.414,0.639,3.676c-0.107,0.261-0.107,0.56,0,0.819C0.695,4.63,0.773,4.748,0.872,4.846L2.61,6.583L0.557,9.46
		l2.875-2.054L5.166,9.14c0.1,0.103,0.218,0.182,0.352,0.236C5.652,9.435,5.789,9.46,5.932,9.46c0.141,0,0.277-0.027,0.409-0.083
		C6.607,9.269,6.814,9.06,6.922,8.798c0.057-0.13,0.083-0.271,0.083-0.412c0-1.31,0.267-2.016,0.524-2.537
		c0.268-0.533,0.736-0.938,1.48-1.295c0.145-0.057,0.273-0.138,0.381-0.247C9.809,3.886,9.805,3.205,9.389,2.791z M6.568,5.371
		c-0.44,0.881-0.639,1.81-0.644,3.01l1.294-3.489c1.149,0-3.539-0.985-2.689-1.387l0.127-0.057c0.751-0.376,1.325-1.017,1.819-2.06
		L3.328,4.415C2.328,4.895,6.943,4.618,6.568,5.371z"/>
</g>
</svg>
</span>
                                <ul class="social-btn--options">

                                    <li>
                                        <iframe src="//www.facebook.com/plugins/like.php?href={{jsreplace_currurl}}&amp;width=120&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=269610766536363" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
                                    </li>
                                    <li>
                                        <div class="g-plusone" data-size="medium"></div>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                                    </li>
                                    {{jsreplace_arg_othersocialicons}}
                                </ul>

                                </span>
<span class="preview-img" style="background-image: url(img/preview_share_default.png);">
        </span>