<span class="pause-btn pause-btn-for-skin-default">
<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="10.455px" height="12.352px" viewBox="0 0 10.455 12.352" enable-background="new 0 0 10.455 12.352" xml:space="preserve">
<g>
	<rect x="0.825" y="0.446" fill="#D2D6DB" width="3.076" height="11.458"/>
</g>
<g>
	<rect x="6.502" y="0.447" fill="#D2D6DB" width="3.076" height="11.458"/>
</g>
</svg>

                            </span>
        <span class="preview-img" style="background-image: url(img/preview_pause_default.png);">
        </span>