<span data-absolute_right_calculate="off" data-design_set_width_to_fit="off" data-animprops="{}" style="position: absolute; width: 100%; height: 10px; top: auto; left: 0px; right: auto; bottom: 30px;  font-size: 12px;" class="scrubbar scrubbar-for-skin-pro">
        <span class="scrubbar-bg" style="position: absolute; width: 100%; left:0; top: 0px; height: 100%; "></span>                                <span class="scrubbar-buffered" style="position: absolute; width: 0%; left:0; top: 0px; height: 100%; "></span>                                <span class="scrubbar-prog" style="position: absolute; width: 0%; left:0; top: 0px; height: 100%;"></span>
                                <span class="scrubbar-box" style=""></span>
                            </span>
<span class="preview-img" style="background-image: url(img/preview_scrub_pro.png);">
        </span>