<span class="play-btn play-btn-for-skin-avanti" style="width: 16px; height: 15px; position:absolute;left: 15px; bottom: 10px;">
<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="13.75px" height="15.812px" viewBox="-1.5 -1.844 13.75 15.812" enable-background="new -1.5 -1.844 13.75 15.812"
	 xml:space="preserve">
<g>
	<path fill="#D2D6DB" d="M11.363,5.662c0.603,0.375,0.592,0.969-0.028,1.317L0.049,13.291c-0.624,0.351-1.131,0.05-1.131-0.664
		V-0.782c0-0.711,0.495-0.988,1.1-0.611L11.363,5.662z"/>
</g>
</svg>                                </span>
<span class="preview-img" style="background-image: url(img/preview_play_default.png);">
</span>