<span class="pause-btn pause-btn-for-skin-pro" style="width: 9px; height: 19px; position:absolute;left: 10px; bottom: 7px;">
                                <span class="pause-btn-fig-1" style="position:absolute; left:0; top:23%; width: 3px;
height: 62%;
background-color: #eeeeee;
display: inline-block; "></span>
                                <span class="pause-btn-fig-2" style="position:absolute; right:0; top:23%; width: 3px;
height: 62%;
background-color: #eeeeee;
display: inline-block; "></span>
                            </span>
<span class="preview-img" style="background-image: url(img/preview_pause_pro.png);">
        </span>